<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Vue + TS</title>
    {% if production %} {{import_file|safe}} {% else %}
    <script
      type="module"
      src="http://localhost:5173{{webroot}}/{{front_root}}/@vite/client"
    ></script>
    <script
      type="module"
      src="http://localhost:5173{{webroot}}/{{front_root}}/src/views/templates/{{ name }}.view.ts"
    ></script>
    {% endif %}
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
